.container {
	max-width: 30rem;
	padding: 0 1rem;
	margin: 3rem auto;
}

.productContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.borderCircle {
	border-radius: 5%;
}

.lightText {
	color: var(--purpleHaze);
	font-size: 20px;
}

.price {
	font-size: 28px;
}

.qtyLabel {
	text-align: center;
	margin: 0;
	font-size: 14px;
}

.qtyContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 16px;
}

.qtyRow {
	flex: 1;
	display: flex;
	justify-content: right;
}

.addToCartBtn {
	margin-bottom: 20px;
}

.productHeading {
	font-size: 36px;
	letter-spacing: 0.5px;
	line-height: 1.5;
	font-weight: lighter;
}
