.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.notification {
	background-color: transparent;
	text-decoration: none;
	position: relative;
	display: inline-block;
	border-radius: 2px;
}

.notification:hover {
	/* background: var(--sohoLights); */
	cursor: pointer;
}

.notification .badge {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: var(--sohoLights);
	color: var(--black);
}
